* {
  box-sizing: border-box;
}

body {
  margin: 2;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #C1B5AD;
}

#map {
    height: 100vh;
    width: 100vw;
}

#addpanel {
  float: right;
  position: relative;
  height: 100px;
  width: 200px;
  background-color: blueviolet;
  z-index: 2;
}
