* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #C1B5AD;
}

nav {
  position: relative;
  z-index: 1;
}

.options {
  /* margin: .5em 0 .5em 0em */
}

#map {
    height: 100vh;
    width: 100vw;
}

#addpanel {
  float: right;
  position: relative;
  width: 25em;
  background-color: blueviolet;
  z-index: 1;
}

#itinerarypanel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25em;
  background-color: greenyellow;
  z-index: 1;
}
